# Ruby
tmp/
log/
db/production.sqlite3
db/development.sqlite3

# CI
bitrise.yml
.bitrise*

#CocoaPods
Pods/
Pods/CocoaPodsKeys

# Xcode
build/*
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
!default.xcworkspace
xcuserdata
profile
*.moved-aside
# Finder
.DS_Store
.svn
*.swp
*.~nib
.env
.env.*
!.env.sample
ArkanaKeys/
arkana/
scripts/Build/
scripts/tmp/